<template>
    <vue-form :novalidate="old.length === 0" :old="old" :errors="errors" method="post" action="/change">
            <form-group label="Title" name="title" type="text"></form-group>

            <form-group label="Description" name="description" type="textarea"></form-group>

            <form-group label="Reason" name="reason_id">
                <select-input :error="errors['reason_id']" loaded title="Reason" labelKey="reason" optionKey="id" searchKey="name" inputname="reason_id" searchtext="Type to search for change reasons" fetchUrl="/api/change/reason"></select-input>
            </form-group>

            <button type="submit" class="btn btn-primary mb-2"><b-icon-plus>Create</b-icon-plus></button>
    </vue-form>
</template>

<script>
    export default {
        name: "create-change-form",
        props: ["errors","old"],
    }
</script>
