<template>
    <div class="nb-main-content-inner d-flex flex-column">
        <h1>{{change['name']}}</h1>

        <b-card body-class="p-0" :header="'Change - '+change['title']" header-tag="header">
            <table class="table table-hover mb-0 attr-table">
                <tbody>
                <table-row caption="Title" :data='change["title"]'></table-row>
                <table-row caption="Description" :data='change["description"]'></table-row>
                </tbody>
            </table>
        </b-card>
    </div>
</template>

<script>
    import Tabs from "../Tabs";
    export default {
        name: "change-view",
        components: {Tabs},
        props: ["change"],
        mounted() {
        },
        methods: {

        },
        data: function() {
            return {
            }
        }
    }
</script>
