<template>
    <div class="nb-main-content-inner d-flex flex-column">
        <h1>{{organization['name']}}</h1>
        <tabs queryId="organizationTab" :tabConfig="tabConfig" @loadedData="handleTabLoaded" @loadError="handleLoadError">
            <b-tab title="Overview" class="nb-tabs-tab">
                <b-card body-class="p-0" header="Organization" header-tag="header">
                    <table class="table table-hover mb-0 attr-table">
                        <tbody>
                        <table-row caption="Name" :data='organization["name"]'></table-row>
                        </tbody>
                    </table>
                </b-card>

                <b-card class="my-3" body-class="p-0" header="Address" header-tag="header">
                    <table class="table table-hover mb-0 attr-table">
                        <tbody>
                        <table-row caption="Street" :data='this.lodash.get(organization,"address.street")'></table-row>
                        <table-row caption="District" :data='this.lodash.get(organization,"address.district")'></table-row>
                        <table-row caption="State" :data='this.lodash.get(organization,"address.state")'></table-row>
                        <table-row caption="Country" :data='this.lodash.get(organization,"address.country")'></table-row>
                        <table-row caption="Comment" :data='this.lodash.get(organization,"address.comment")'></table-row>
                        </tbody>
                    </table>
                </b-card>
            </b-tab>
            <b-tab class="nb-tabs-tab" title="Services">
                <service-table :items="this.services"></service-table>
            </b-tab>
            <b-tab class="nb-tabs-tab" title="Networks"></b-tab>
            <b-tab class="nb-tabs-tab" title="Hardware"></b-tab>
            <b-tab class="nb-tabs-tab" title="Changes"></b-tab>
        </tabs>
    </div>
</template>

<script>
    import Tabs from "../Tabs";
    export default {
        components: {Tabs},
        props: ["organization"],
        mounted() {
        },
        methods: {
            handleLoadError: function(error) {

            },
            handleTabLoaded: function(target, data) {
                switch(target) {
                    case 'services':
                        this.services = data;
                        break;
                }
            }
        },
        data: function() {
            return {
                services: [],
                tabConfig: [{'tabName':'organization'},{'fetchUrl':"/api/service?organization_id="+this.organization.id,'target':'services','tabName':'services'}],
            }
        }
    }
</script>
