// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$nb-navbar-height: 60px;
$nb-sidebar-collapsed-width: 75px;

$nb-color-navbar-link-hover: #bbb;
$nb-color-navbar-link-active: #eee;
$nb-color-navbar-link: #222;

$nb-color-accent: #0e4679;
$nb-color-warning: #af0000;
