// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import '~bootstrap-vue/src/index.scss';


@import "~vue-select/src/scss/vue-select.scss";


@mixin width-transition {
    transition: width 1s;
    transition: max-width 1s;
}

@mixin opacity-transition {
    transition: opacity 1s;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.nb-navbar {
    @extend .navbar;
    @extend .navbar-expand-md;
    @extend .navbar-light;
    @extend .bg-white;
    @extend .shadow-sm;
    @extend .fixed-top;
    height: $nb-navbar-height;
}

.nb-container {
    @extend .container-fluid;
    @extend .vh-100;
    padding-top: $nb-navbar-height;
}

.nb-container .row {
    min-height: 100%;
}

.nb-main-content-inner {
    min-height: 100%;
}

.nb-tabs-tab {
    @extend .flex-fill;
}

.nb-tabs.loading .nb-tabs-tab, .nb-tabs.load-error .nb-tabs-tab {
    display: none;
}

.nb-tabs .loader, .loader .loading-spinner {
    flex: 1;
    align-self: center;
    text-align: center;
}

.nb-tabs .load-retry {
    flex: 1;
    align-self: center;
    text-align: center;
}

.nb-nav-link {
    @extend .nav-link;
}


/* Sidebar Styles */
.nb-sidebar {
    @extend .position-fixed;
    @include width-transition;
    max-width: 12.5%;
    flex: 12.5%;
    z-index: 9999;
    padding: 0;
    width: auto;
    height: calc(100% - #{$nb-navbar-height});
    left:0;
    bottom: 0;
    top: $nb-navbar-height;
    right: 0;
    background-color: #fff;
    border-right: 1px solid #eee;

    .nb-nav-link {
        @extend .py-3;
        @extend .d-flex;
        color: $nb-color-navbar-link;
        justify-content: space-around;
        align-items: center;
    }

    .nb-nav-link:hover {
        background-color: $nb-color-navbar-link-hover;
    }

    .nav-item {
        position: relative;
    }

    .nav-item.active {
        background-color: $nb-color-navbar-link-active;
        font-weight: bold;
    }

    .nav-item.active .nb-nav-link:hover {
        box-shadow: inset 4px 0 0 $nb-color-accent;
    }

    .nb-nav-link-text {
        @extend .pl-1;
        flex: 3;
    }

    .nb-nav-link-icon {
        flex: 1;
    }

    .nb-nav-link-collapse .nb-nav-link-icon-expand {
        display: none;
    }

    /* Sidemenu Sub-Menu */
    .nb-sidebar-sub-menu {
        display: none;
        list-style: none;
        padding: 0;

        .nb-nav-link {
            @extend .pt-2;
            @extend .pb-2;
        }

        .nav-item {
            min-width: 150px;
        }

        .nav-item:not(.active) {
            font-weight: initial;
        }

        .nav-item.active {
            background-color: $nb-color-navbar-link-hover;
        }
    }

    .nav-item.active {
        box-shadow: inset 4px 0 0 $nb-color-accent;
    }

    .nav-item.active .nb-sidebar-sub-menu {
        display: block;

        .nb-nav-link {
            @extend .pl-5;
        }
    }

    .nav-item:hover:not(.active) .nb-sidebar-sub-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #fff;
        box-shadow: 2px 1px 3px rgba(0,0,0,0.1);
        border-left: 1px solid #eee;
    }

}

.is-invalid .v-select .vs__dropdown-toggle {
    border-color: #e3342f;
}

.nb-sidebar-menu {
    @extend .h-100;
    @extend .d-flex;
    @extend .flex-column;
    @extend .py-3;
}

.nb-sidebar-menu-bottom {
    @extend .nav;
    @extend .flex-column;
    @extend .justify-content-end;
    @extend .flex-grow-1;
}



.nb-main {
    @extend .p-4;
    @extend .flex-fill;
    @include width-transition;
    transition: margin-left 1s;
    margin-left: 12.5%;
    @extend .flex-column;
    @extend .d-flex;
}

.nb-main-inner {
    @extend .flex-grow-1;
    @extend .d-flex;
    @extend .flex-row;
    @extend .pr-4;
    /*min-height: 100%;*/
}

.nb-main-header {
    @extend .d-flex;
    @extend .flex-row;
    @extend .pb-3;
    @extend .align-items-center;
}

.nb-main-header h1 {
    @extend .flex-fill;
    margin-bottom: 0;
}

.nb-main-content {
    @extend .flex-fill;
}


.nb-main-sidebar {
    @extend .pl-4;
    @extend .d-flex;
    @extend .flex-column;
    min-width: 400px;
}

/* Sidebar collapsed */
.sidebar-collapsed, .login  {
    .nb-sidebar {
        max-width: $nb-sidebar-collapsed-width;

        .nb-nav-link-text {
            display: none;
        }

        .nb-nav-link-collapse .nb-nav-link-icon-collapse {
            display: none;
        }

        .nb-nav-link-collapse .nb-nav-link-icon-expand {
            display: block;
        }

        .nb-nav-link {
            @extend .px-0;
        }

        .nav-item.active .nb-sidebar-sub-menu {
            display: none;
        }
    }

    .nb-main {
        margin-left: $nb-sidebar-collapsed-width;
    }
}


.nb-table {
    tbody {
        tr:hover {
            //background-color: #eee;
        }
    }
    td {
        vertical-align: center;
    }
}

.nb-warning {
    color: $nb-color-warning;
}

table.attr-table td:nth-child(1) {
    width: 25%;
}
