<template>
    <div class="alert-info alert" v-if="this.user.active_change">
        You are currently working on change <a v-bind:href="'/change/'+this.user.active_change.id" v-if="this.user.active_change">"{{this.user.active_change.title}}"</a>
        <vue-form method="post" action="/user/activeChange/" >
            <input type="hidden" name="change_id" :value="null"/>
            <button type="submit" class="btn btn-primary mb-2"><b-icon-pause>Stop working on this change</b-icon-pause></button>
        </vue-form>
    </div>
</template>

<script>
    export default {
        name: "change-indicator-notification",
        props: [],
        mounted() {
        },
        methods: {
        },
        computed: {
          user: function() {
              return this.$store.getters.getUser;
          },
        },
        data: function () {
            return {

            }
        }
    }
</script>
