<template>
    <div v-if="this.user">
        <a href="/change/new"><b-icon-clipboard-plus v-if="!this.user.active_change" v-b-popover.hover.bottom="this.options">
            Start new change
        </b-icon-clipboard-plus>
        </a>

        <a v-bind:href="'/change/'+this.user.active_change.id" v-if="this.user.active_change">
        <b-icon-clipboard-data v-b-popover.hover.bottom="this.options"></b-icon-clipboard-data>
        </a>
    </div>
</template>

<script>
    export default {
        name: "change-indicator",
        props: [],
        mounted() {
        },
        methods: {
        },
        computed: {
          user: function() {
              return this.$store.getters.getUser;
          },
            options: function() {
              if(!this.user.active_change)
                return {title:"Active Change",content:"No active change"};
              else
                  return {title:"Active Change",content:"<a href='/change/"+this.user.active_change.id+"'>"+this.user.active_change.title+"</a>",html:true};
            }
        },
        data: function () {
            return {

            }
        }
    }
</script>
