<template>
    <div class="form-group">
        <label :for="name">{{label}}</label>

        <input v-if="!hasDefaultSlot && type !== 'textarea'" :type="type" class="form-control" :class="[!this.novalidate_data ? (errors.length > 0 ? 'is-invalid' : 'is-valid') : null,'form-control']" :name="name" :id="name" :placeholder="label" value="" :required="required"/>
        <textarea v-if="!hasDefaultSlot && type === 'textarea'" :type="type" class="form-control" :class="[!this.novalidate_data ? (errors.length > 0 ? 'is-invalid' : 'is-valid') : null,'form-control']" :name="name" :id="name" :placeholder="label" :required="required"></textarea>

        <slot :errors="errors"></slot>

        <div v-if="errors.length > 0 && !this.novalidate_data" class="invalid-feedback">
            <span v-for="error in errors">{{error}}<br /></span>
        </div>
    </div>
</template>

<script>
    export default {
        name: "form-group",
        props: {
            label: String,
            type: String,
            name: String,
            required: Boolean,
            novalidate: {
                type: Boolean,
                default: false
            }
        },
        mounted() {

        },
        computed: {
            hasDefaultSlot () {
                return !!this.$slots.default
            }
        },
        data: function () {
            return {
                errors: [],
                novalidate_data: this.novalidate
            }
        }
    }
</script>
