<template>
    <form :errors="errors" :method="method" :action="action" :novalidate="novalidate">
        <slot></slot>
        <input v-if="method.toUpperCase() !== 'GET'" type="hidden" :value="csrfToken" name="_token"/>
    </form>
</template>

<script>
    export default {
        name: "vue-form",
        props: {
            old: {
                default: function() {
                    return {};
                }
            },
            method: String,
            action: String,
            novalidate: Boolean,
            errors : {
                default: function() {
                    return {};
                }
            }
        },
        mounted() {
            console.log("old:",this.old);
            this.updateUrlParameters();
            this.csrfToken = document.querySelector('meta[name="csrf-token"]').content
        },
        methods: {
            findComponentsWithTags: function(component,tags) {
                let foundComponents = [];

                for (let tag of tags) {
                    if(component.$options._componentTag === tag) {
                        foundComponents.push(component);
                        break;
                    }
                }

                for (let child of component.$children) {
                    let componentsInChild = this.findComponentsWithTags(child, tags);

                    if(componentsInChild)
                        componentsInChild.forEach(childComponent => foundComponents.push(childComponent))
                }

                return foundComponents;
            },
            updateUrlParameters: function() {
                //Update html input fields values
                this.$el.querySelectorAll("input, textarea").forEach(input => {
                    if(this.$route.query[input.name]) {
                        input.value = this.$route.query[input.name];
                    } else if(this.old[input.name]) {
                        if(input.type === "textarea") {
                            input.textContent = this.old[input.name];
                        }
                        else
                            input.value = this.old[input.name];
                    }
                    if(input.id && this.errors[input.id]) {
                        input.error = this.errors[input.id];
                    }
                });

                this.findComponentsWithTags(this,['select-input']).forEach(input => {
                    if(this.$route.query[input.inputname]) {
                        input.selected_options = [this.$route.query[input.inputname]];
                    } else if(this.$route.query[input.inputname+"[]"]) {
                        input.selected_options = this.$route.query[input.inputname+"[]"];
                    } else if(this.old[input.inputname]) {
                        input.selected_options = [this.old[input.inputname]];
                    } else if(this.old[input.inputname+"[]"]) {
                        input.selected_options = this.old[input.inputname+"[]"];
                    }
                })
                console.log("old:",this.old)
                console.log("errors:",this.errors)
                this.findComponentsWithTags(this,['form-group']).forEach(input => {
                    console.log("name",input.name)
                    console.log("old:",(this.old[input.name]));
                    console.log("old arr:",this.old[input.name+"[]"]);
                    if(this.novalidate) {
                        input.novalidate_data = true;
                    } else if (input.name && (this.old[input.name] !== null ? !(this.old[input.name+"[]"] !== null) : (this.old[input.name+"[]"] !== null))) {
                        console.log("set novalidate false", input.name)
                        input.novalidate_data = false;
                    }
                    if(input.name && this.errors[input.name]) {
                        input.errors = this.errors[input.name];
                        console.log("setting error",input.error);
                    }
                })
            }
        },
        data: function () {
            return {
                csrfToken: null,
            }
        }
    }
</script>
