<template>
    <div class="loader" v-show="loadingVariable">
    <div class="loading-spinner">
        <b-spinner class="justify-content-center" variant="primary" label="Spinning"></b-spinner>
    </div>

    <div class="load-retry" v-if="loadErrorVariable">
        <span>Load error</span>
        <b-button @click="retryFunction">Retry</b-button>
    </div>
    </div>
</template>

<script>
    export default {
        name: "Loading",
        props: ["loadingVariable","retryFunction","loadErrorVariable"]
    }
</script>
