<template>
    <div :class="[(error && error.length > 0 ? 'is-invalid' : 'is-valid')]">
        <v-select :multiple="multiple" v-model="selected_options" @search="onSearch" :label="labelKey" :reduce="option => (option[optionKey] ? option[optionKey].toString() : option)" :options="loaded_options" >
            <template #no-options="{ search, searching, loading }">
                {{searchtext}}
            </template>
        </v-select>

        <input v-if="selected_options.length === 0" type="hidden" :name="selected_options.length > 1 ? inputname+'[]' : inputname" :value="null">
        <input v-for="option in selected_options" type="hidden" :name="selected_options.length > 1 ? inputname+'[]' : inputname" :value="option">
    </div>
</template>


<script>
    import apiFetch from "../mixins/apiFetch";

    export default {
        name: "select-input",
        mixins: [apiFetch],
        props: ["inputname","fetchUrl","title","searchtext","labelKey","optionKey","searchKey","multiple","mode","error"],
        mounted() {
            this.apiFetch(this.fetchUrl,this.searchKey,"").then(
                res => {
                    res.json().then(json => {
                        this.loaded_options = json
                    })
                });
        },
        methods: {
            onSearch(search, loading) {
                loading(true);
                this.search(loading, search, this);
            },
            search: _.debounce((loading, search, vm) => {
                fetch(
                    vm.$props.fetchUrl+"?"+vm.$props.searchKey+"="+search
                ).then(res => {
                    res.json().then(json => {vm.loaded_options = json;});
                    loading(false);
                }).catch(reason => {
                    console.log(reason);
                });
            }, 350)
        },
        data: function () {
            return {
                loaded_options: [],
                selected_options: [],
            }
        }
    }
</script>

