<template>
    <tr>
        <td class="align-middle">{{caption}}</td>
        <td class="align-middle">{{computedContent}}</td>
    </tr>

</template>

<script>
    export default {
        name: "table-row",
        props: ["caption","data"],
        computed: {
            computedContent: function() {
                return this.data ? this.data : "-";
            }
        }
    }
</script>
