<template>
    <b-tabs no-fade v-model="currentTabIndex" v-on:activate-tab="changedTab" class="flex-fill d-flex flex-column" v-bind:content-class="[loading ? 'loading' : '',loadError ? 'load-error' : '', 'mt-3 nb-tabs d-flex flex-fill']">
        <slot></slot>

        <loading :loadingVariable="loading" :loadErrorVariable="loadError" :retryFunction="reload"></loading>
    </b-tabs>
</template>

<script>
    export default {
        name: "Tabs",
        props: ["tabConfig","queryId"],
        mounted() {
            if(this.$route.query[this.queryId] && parseInt(this.$route.query[this.queryId])) {
                this.currentTabIndex = parseInt(this.$route.query[this.queryId]);
            } else if(this.$route.query[this.queryId])
                this.currentTabIndex = this.findIndexForTabName(this.$route.query[this.queryId]);
        },
        methods: {
            findIndexForTabName: function(index) {
              for (let i=0; i<this.tabConfig.length; i++) {
                  if(this.lodash.get(this.tabConfig[i],"tabName") === index) {
                      return i;
                  }
              }

              return 0;
            },
            loadDataForTab: function(tabIndex) {
                let tabConfig = this.tabConfig[tabIndex];
                if(tabConfig) {
                    if (tabConfig.fetchUrl && tabConfig.target)
                        this.loadToObject(tabConfig.fetchUrl, tabConfig.target)
                } else
                    console.warn("Config for tabIndex: "+tabIndex+" incomplete or missing")
            },
            changedTab: function(newTabIndex,prevTabIndex,bvEvent) {
                this.$router.replace( { query:{[this.queryId]:this.lodash.get(this.tabConfig[newTabIndex],"tabName") ? this.lodash.get(this.tabConfig[newTabIndex],"tabName") : newTabIndex} },() => {} );
                this.loadDataForTab(newTabIndex)
            },
            reload: function() {
                this.loadDataForTab(this.currentTabIndex);
            },
            loadToObject: function(url,data) {
                this.loadError = false;
                this.loading = true;
                axios.default.get(
                    url,
                ).then(res => {
                    this.loading = false;
                    this.$emit("loadedData",this.tabConfig[this.currentTabIndex].target, res.data)
                }).catch(reason => {
                    this.loading = false;
                    this.loadError = true;
                    this.$emit("loadError",reason);
                });
            }
        },
        data: function() {
            return {
                currentTabIndex: 0,
                loading: false,
                loadError: false,
            }
        }
    }
</script>
