<template>
    <b-table sort-by="id" striped hover class="nb-table" small :fields="['name','description','status','actions']" :items="items" responsive="sm">
        <template v-slot:head(name)="data">
            Name
        </template>

        <template v-slot:head(description)="data">
            &nbsp;Beschreibung
        </template>

        <template v-slot:head(status)="data">
            &nbsp;Status
        </template>

        <template v-slot:head(actions)="data">

        </template>

        <template v-slot:cell(name)="data">
            <a v-bind:href="'/change/'+data.item.id">{{ data.item.title }}</a>
        </template>

        <template v-slot:cell(description)="data">
            <a v-bind:href="'/change/'+data.item.id">{{ data.item.description }}</a>
        </template>

        <template v-slot:cell(status)="data">
            {{ data.item.status.title }}
        </template>

        <template v-slot:cell(actions)="data" slot="">
            <vue-form method="post" action="/user/activeChange/">
                <input type="hidden" name="change_id" :value="data.item.id"/>
                <button type="submit" class="btn btn-primary mb-2"><b-icon-play></b-icon-play></button>
            </vue-form>
        </template>

    </b-table>
</template>

<script>
    export default {
        name: "change-table",
        props: ["items"],
        mounted() {
            console.log("items",this.$props.items);
        },
        computed: {
            user: function() {
                return this.$store.getters.getUser;
            },
            computedItems() {
                return this.items.map((item) => {
                    let tmp = item;
                    item.OBJETIVO > 0 ? tmp.variant = 'danger' : tmp.variant = 'success';
                    return tmp;

                });
            }
        }
    }
</script>
