<template>
    <b-table sort-by="id" striped hover class="nb-table" small :fields="['name','actions']" :items="items" responsive="sm">
        <template v-slot:head(name)="data">
            Name
        </template>

        <template v-slot:head(actions)="data">
            &nbsp;
        </template>

        <template v-slot:cell(name)="data">
            <a v-bind:href="'/organization/'+data.item.id">{{ data.item.name }}</a>
        </template>

    </b-table>
</template>

<script>
    export default {
        props: ["items"],
        mounted() {
        }

    }
</script>
