<template>
    <b-table sort-by="id" striped hover class="nb-table" small :fields="['name','description','service_type_name','organization','status','actions']" :items="item_data" responsive="sm">
        <template v-slot:head(service_type_name)="data">
            Service type
        </template>

        <template v-slot:head(actions)="data">
        </template>

        <template v-slot:cell(name)="data">
            <a v-bind:href="'/service/'+data.item.id">{{ data.item.current_service_version.name }}</a>
        </template>

        <template v-slot:cell(description)="data">
            {{ data.item.current_service_version.description }}
        </template>

        <template v-slot:cell(organization)="data">
            <a v-bind:href="'/organization/'+data.item.organization_id">{{ data.item.organization.name }}</a>
        </template>

        <template v-slot:cell(service_type_name)="data">
            {{ data.item.service_type.name }}
        </template>

        <template v-slot:cell(status)="data">
            <b-icon-exclamation-triangle v-b-tooltip.hover class="nb-warning" title="A commit with proposed new version exists, but is not yet committed" v-if="data.item.proposed_version_id != null"></b-icon-exclamation-triangle>
        </template>

        <template v-slot:cell(actions)="data">
            <b-icon-exclamation-triangle v-b-tooltip.hover class="nb-warning" title="A commit with proposed new version exists, but is not yet committed" v-if="data.item.proposed_version_id != null"></b-icon-exclamation-triangle>
        </template>
    </b-table>
</template>

<script>
    export default {
        props: ["items"],
        mounted() {
            this.item_data = this.$props.items;
        },
        watch: {
        },
        data: function () {
            return {
                item_data: [],
            }
        }
    }
</script>
