<template>
    <b-table sort-by="id" striped hover class="nb-table" small :fields="['name','description']" :items="items" responsive="sm">
        <template v-slot:head(service_type_name)="data">
            Service type
        </template>

        <template v-slot:head(actions)="data">
        </template>

        <template v-slot:cell(name)="data">
            <a v-bind:href="'/service/type/'+data.item.id">{{ data.item.name }}</a>
        </template>

        <template v-slot:cell(description)="data">
            {{ data.item.description }}
        </template>
    </b-table>
</template>

<script>
    export default {
        props: ["items"],
        mounted() {
            console.log('Component mounted.')
        }

    }
</script>
