<template>
    <vue-form method="get" action="/organization">
            <form-group novalidate label="Name" name="name" type="text"></form-group>

            <button type="submit" class="btn btn-primary mb-2"><b-icon-search></b-icon-search></button>
    </vue-form>
</template>

<script>
    export default {
        name: "organization-filter-form",
    }
</script>
