<template>
    <vue-form method="get" action="/service">
            <form-group novalidate label="Service name" name="name" type="text"></form-group>

            <form-group novalidate label="Service description" name="description" type="text"></form-group>

            <form-group novalidate label="Service type" name="type" type="text"></form-group>

            <form-group novalidate>
                <select-input multiple title="Organizations" labelKey="name" searchKey="name" optionKey="name" inputname="organization_name" searchtext="Type to search for organizations" fetchUrl="/api/organizations"></select-input>
            </form-group>

            <button type="submit" class="btn btn-primary mb-2"><b-icon-search></b-icon-search></button>
    </vue-form>
</template>

<script>
    export default {
        name: "service-filter-form",
        mounted() {
        },
        methods: {

        },
        data: function () {
            return {

            }
        }
    }
</script>
